@media screen and (min-width: 1920px) {
    .container-utama {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .container-utama .penampung {
        position: relative;
        height: 100%;
        color: #ddaa44;
    }
    /* Start Side Left */
    .container-utama .penampung.left {
        position: fixed;
        width: 15%;
        height: 100%;
        background-color: rgb(225, 235, 219);
        /* background-color: rgb(36, 40, 53); */
        z-index: 2;
        box-shadow: 0px 1px 2px grey;
        display: block;
    
        transition: all .10s;
    }
    .container-utama .penampung.left.active {
        display: none;
    }
    .container-utama .penampung.left h2 {
        font-size: 25px;
        text-align: center;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-5px, 50px);
        color: #ddaa44;
    }
    .container-utama .penampung.left img {
        position: relative;
        width: 100%;
        height: 15%;
        top: 5%;
    }
    .container-utama .penampung .menu {
        cursor: pointer;
        font-weight: bolder;
        margin: 0;
        padding: 5px 15px;
    }
    
    .container-utama .penampung .menu:hover {
        color: grey;
    }
    
    .container-utama .penampung .first-ul {
        position: relative;
        list-style: none;
        margin: 80px 0 0 0;
        padding: 0;
        color: #ddaa44;
        font-weight: bolder;
    }
    
    .container-utama .penampung .first-ul li {
        position: relative;
        margin: 0;
        padding: 1px;
        width: 100%;
        display: block;
        text-align: left;
        box-sizing: border-box;
    }
    .container-utama .penampung .first-ul li .nav-link {
        color: #ddaa44;
        font-weight: bolder;
        text-decoration: none;
        cursor: pointer;
    }
    .container-utama .penampung .first-ul li .nyala, .nav-link:hover {
        color: grey;
    }
    /* Dropdown Menu */
    .dropdown-content {
        position: relative;
        display: none;
        margin: 0;
        padding: 0;
    }
    .dropdown-content li {
        background-color: #ccc;
    }
    .show {
        display: block;
    }
    
    /* Start Side RIght */
    .container-utama .penampung.right {
        position: relative;
        left: 15%;
        width: calc(100% - 15%);
        height: 100%;
        background-color: whitesmoke;
        z-index: 1;
        float: right;
    }
    .container-utama .penampung.right.active {
        width: 100%;
    }
    
    .container-utama .penampung .mysection {
        position: absolute;
        width: 100%;
        height: 100%;
    
        transform: translateX(100px);
        transition: all .5s;
        opacity: 0;
        z-index: 1;
    }
    .container-utama .penampung .mysection.active {
        transform: translateX(0);
        box-sizing: border-box;
        opacity: 1;
        z-index: 5;
        height: 100%;
    }
    
    /* Dashboard */
    .container-utama .penampung .mysection:nth-child(2) {
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    /* Foods&Drinks */
    .container-utama .penampung .mysection:nth-child(3) {
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    /* PromonMore */
    .container-utama .penampung .mysection:nth-child(4) {
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    .container-utama .penampung .mysection:nth-child(5) {
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    /* Roller - Play */
    .container-utama .penampung .mysection:nth-child(6) {
        background-color: none;
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    /* Leaderboard */
    .container-utama .penampung .mysection:nth-child(7) {
        background-color: none;
        overflow-y: scroll;
    }
    /* challenge */
    .container-utama .penampung .mysection:nth-child(8) {
        overflow-y: scroll;
        height: calc(100% - 100px);
    }
    /* Mapbox */
    .container-utama .penampung .mysection:nth-child(9) {
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    .stat {
        position: relative;
        height: 100px;
        width: 100%;
    }
    .tempat-nama {
        position: absolute;
        width: 100%;
        height: 100%;
    
        top: 50%;
        left: 50%;
        transform: translate(40%, -48.5%);

    }
    .tempat-nama .image-avatar {
        width: 95px;
        height: 95px;
    }
    .tempat-nama .dropdown-option {
        position: absolute;
        display: none;
        width: 8%;
        height: 100%;
        background-color: rgb(200, 175, 116);
        left: -13px;
        top: 110%;
        border-radius: 5px;
        padding: 10px 18px;
        z-index: 10;
    }
    .tempat-nama .dropdown-option a {
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .tempat-nama .dropdown-option.show {
        display: block;
    }
    .tempat-nama .dropdown-option a:hover {
        color: gray;
    }
    
    .btnShow {
        position: absolute;
        top: 350px;
        right: -28px;
        width: 28px;
        height: 110px;
        background-color: blue;
        cursor: pointer;
        display: none;
        padding: 10px 5px;
        box-sizing: border-box;
        font-weight: bold;
        writing-mode: vertical-rl;
    }
    .btnShow:hover {
        color: gray;
    }
    
    /* Menu Style Option */
    .eventx {
        position: relative;
        height: auto;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin: 0px 0px 5px;
        overflow: hidden;
    }
    .eventx .sub-eventx {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: yellow;
    }
    .eventx .container-event {
        display: inline-block;
        width: auto;
        padding: 15px 30px;
        margin: 0;
        outline: none;
        background-color: purple;
    }
    .eventx .container-event .pas-foto {
        position: relative;
        height: 100%;
        width: 450px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0,0,0,.5);
    }
    .eventx .container-event .pas-foto img {
        border-radius: 10px;
        width: 450px;
        height: 350px;
        padding: 3px;
    }
    .eventx .container-event .container-nama-harga {
        position: relative;
        height: 60px;
        width: 450px;
        top: -60px;
        margin: 0;
        padding: 0;
        border-radius: 0px 0px 10px 10px;
        background-color: rgba(0, 0, 0,.3);
        color: rgb(223, 226, 211);
    }
    
    /* Promo & More */
    /* colom promo&more */
    .three-col{
        width: 95%;
        column-count: 3;
        column-gap: 10px;
        padding: 0;
    }

    /* Roller Game */
    .event-game {
        position: relative;
        height: auto;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin: 0px 0px 5px;
        overflow: hidden;
    }
    .event-game .container-event-game {
        top: 50%;
        left: 50%;
        transform: translate(10%);
    }
    .event-game .container-event-game .pas-foto {
        position: relative;
        height: 100%;
        width: 450px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0,0,0,.5);
    }
    .event-game .container-event-game .pas-foto img {
        border-radius: 10px;
        width: 450px;
        height: 350px;
        padding: 3px;
    }
    .event-game .container-event-game .container-nama-harga {
        position: relative;
        height: 60px;
        width: 450px;
        top: -60px;
        margin: 0;
        padding: 0;
        border-radius: 0px 0px 10px 10px;
        background-color: rgba(0, 0, 0,.3);
        color: rgb(223, 226, 211);
    }
    
    /* Challenge */
    .container-challenge {
        position: relative;
        width: 100%;
        height: 100%;
    }
    /* container challenge navbar */
    .container-challenge .container-challenge-navbar {
        height: auto;
        width: auto;
        background-color: rgb(163, 217, 219);
    }
    .container-challenge .container-challenge-navbar .challenge-navbar-menu .nav-play {
        display: inline-block;
        cursor: pointer;
        font-size: 25px;
        margin: 1px;
        padding: 10px;
        box-sizing: border-box;
        color: #ddaa44;
        font-weight: bold;
    }
    .container-challenge .container-challenge-navbar .challenge-navbar-menu  .turnOn, .nav-play:hover {
        color: grey;
    }

    .container-challenge .container-quest {
        position: relative;
        display: flex;
        flex-flow: wrap;
        height: auto;
        margin-bottom: 1px;
    }
    .container-quest .container-name-quest.left {
        width: 15%;
    }
    .container-quest .container-name-quest p {
        margin: 0;
        padding: 5px;
        text-align: justify;
    }
    .container-quest .container-name-quest.center {
        width: calc(80% - 15%);
    }
    .container-quest .container-name-quest.right {
        width: calc(35% - 15%);
    }
    .container-name-quest {
        width: 100%;
    }
    #play-table {
        border-collapse: collapse;
        width: 100%;
    }
    #play-table th {
        text-align: left;
        padding: 10px;
        border: 1px solid #ddd;
    }
    #play-table td {
        text-align: left;
        padding: 10px;
        border: 1px solid #ddd;
    }
    #play-table th tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    #play-table th {
        background-color: #ddaa44;
        color: white;
        padding: 5px;
        box-sizing: border-box;
    }
    #play-table tr:hover {
        background-color: #ddd;
    }
    /* room control */
    .room-control {
        width: 100%;
        float: left;
    }
    .room-control.right {
        width: 100%;
        height: 100%;
        float: left;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }
    .room-section-edit {
        padding: 3px;
        box-sizing: border-box;
    }
    .split-room-section {
        display: flex;
        justify-content: space-between;
    }
    .split-room-section .content-split-room {
        position: relative;
        display: inline-block;
        width: 49%;
    }
    .room-section-edit .title-room-control p {
        margin: 0;
        padding: 5px;
        background-color: #ddaa44;
    }
    .room-section-edit .play-option {
        position: relative;
        display: flex;
        width: 100%;
        margin: 5px auto;
    }
    .room-section-edit .play-option button,
    .room-section-edit .play-option form {
        position: relative;
        width: auto;
        height: 25%;
        margin: auto 2px;
    }
    .room-section-edit input[type="text"],
    .room-section-edit input[type="number"],
    .room-section-edit input[type="date"] {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    /* style table room control */
    #table-room-control {
        border-collapse: collapse;
        width: 100%;
    }
    #table-room-control th tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    #table-room-control th {
        background-color: #ddaa44;
        color: white;
        padding: 5px;
        box-sizing: border-box;
    }
    #table-room-control tr:hover {
        background-color: #ddd;
    }
    #table-room-control th,
    #table-room-control td {
        text-align: left;
        border: 1px solid #ddd;
    }
    
    /* Leaderboard */
    .searchLead{
        padding: 5px;
        box-sizing: border-box;
    }
    .container-leaderboard {
        width: 100%;
        height: calc(100% - 80px);
        overflow-y: scroll;
        color: #ddaa44;
        padding: 1px;
    }
    .container-leaderboard .play-leaderboard .main-container-leaderboard  {
        width: 100%;
        height: auto;
        background-color: rgb(217, 221, 221);
        margin: auto;
        margin-bottom: 10px;
        text-align: center;
        color: #ddaa44;
        background-color: rgb(108, 108, 160);
    }
    .container-leaderboard .play-leaderboard.active {
        opacity: 1;
        z-index: 1;
    }
    .container-leaderboard .play-leaderboard {
        opacity: 0;
        z-index: 10;
    }
    .container-leaderboard .container-challenge-navbar {
        height: auto;
        width: 100%;
        background-color: rgb(217, 221, 221);
        text-align: center;
        font-weight: bold;
    }
    .container-leaderboard .container-challenge-navbar .challenge-navbar-menu h3 {
        font-size: 20px;
        color: #ddaa44;
    }
    .container-leaderboard .container-challenge-navbar .challenge-navbar-menu .nav-play-lead {
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
        margin: 1px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }
    .container-leaderboard .container-challenge-navbar .challenge-navbar-menu .nav-play-lead:hover, .hidup {
        color: gray;
    }
    table {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    table tr:nth-child(even){
        background-color: #f2f2f2;
    }
    table th {
        background-color: rgb(108, 108, 160);
    }
    td, th  {
        border: 1px solid #77349e;
        background-color: whitesmoke;
        padding: 10px;
        text-align: center;
    }
    .container-leaderboard::-webkit-scrollbar {
        width: 0;
    }
    .container-leaderboard:-webkit-scrollbar-track {
        border-radius: 0;
        background-color: #333;
    }
    .container-leaderboard:-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: white;
    }
    #search-leaderboard {
        right: 0;
    }
    
    /* info */
    #map {
        position: relative;
        width: 95%;
        height: 95%;
        border: 1px solid #000;
        margin: auto;
    }
    .container-info {
        width: 100%;
        height: auto;
        padding: 5px;
        box-sizing: border-box;
        margin: 0;
    }
    .container-info .info-dhadhu {
        width: 295px;
        height: auto;
        padding: 10px;
        float: left;
    }
    .container-info .info-dhadhu h4 {
        color: black;
    }
    .container-info .info-dhadhu.right {
        width: 20%;
    }
    .container-info .info-dhadhu.center {
        width: calc(100% - 40%);
    }
    .container-info .info-dhadhu.left {
        width: calc(100% - 80%);
    }
    .info-dhadhu h4 {
        font-size: 17px;
    }
    #profile-table {
        width: 100%;
        border-collapse: collapse;
    }
    #profile-table tr, 
    #profile-table td {
        padding: 3px;
        margin: 0;
        border: none;
        color : black
    }
    
    /* Crete Room */
    .container-room {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 10px;
        margin: auto;
    }
    .container-room .play-room input[type="text"], 
    .container-room .play-room input[type="number"], 
    .container-room .play-room input[type="date"] {
        width: 100%;
        border-radius: 3px;
        border: 1px solid black;
        padding: 5px;
        box-sizing: border-box;
        outline: none;
    }
    #btnCreate {
        outline: none;
        margin: 10px;
    }
    
    .rightArrow {
        position: relative;
        top: -220px;
        right: -96%;
        width: 20px;
        height: 50px;
    }
    .leftArrow {
        position: relative;
        top: -220px;
        left: -3px;
        width: 20px;
        height: 50px;
    }
    
    /* Profile Manager */
    .main-container-profile {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .main-container-profile .container-profile {
        position: relative;
        height: 100%;
        width: 50%;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        overflow: scroll;
    }
    .main-container-profile .container-profile .header-container-profile {
        width: 100%;
        height: auto;
        background-color: rgb(43, 34, 34);
        color: white;
    }
    .main-container-profile .container-profile .header-container-profile p {
        font-size: 30px;
        text-align: left;
    }
    .main-container-profile .container-profile .first-layer-profile {
        position: relative;
        width: 100%;
        height: 30%;
        background-color: rgba(43, 81, 85, 0.562);
        display: flex;
        justify-content: space-between;
    
        padding: 5px;
        box-sizing: border-box;
    }
    .main-container-profile .container-profile .first-layer-profile .image-profile {
        width: 50%;
        height: 100%;
        float: left;
        background-color: gray;
        border-radius: 5%;
    }
    .main-container-profile .container-profile .first-layer-profile .image-profile .image-profile-custome {
        position: absolute;
        width: 32%;
        height: 94%;
        border-radius: 5%;
    }
    .main-container-profile .container-profile .first-layer-profile .nickname-profile {
        width: 100%;
        height: 100%;
    }
    .main-container-profile .container-profile .first-layer-profile .nickname-profile p {
        position: relative;
        display: block;
        text-align: left;
        height: 30%;
        padding: 15px 10px;
        box-sizing: border-box;
        color: white;
    }
    
    .main-container-profile .container-profile .second-layer-profile {
        position: relative;
        width: 100%;
        height: auto;
        background-color: honeydew;
    }
    .main-container-profile .container-profile .second-layer-profile .title-profile  {
        text-align: left;
        font-size: 20px;
        color: white;
        background-color: rgb(43, 34, 34);
        width: 100%;
    }
    .second-layer-profile .title-profile .menu-profile {
        cursor: pointer
    }
    .second-layer-profile .title-profile .menu-profile:hover, .urep {
        color: blue;
    }
    .main-container-profile .container-profile .second-layer-profile .edit-profile {
        background-color: rgba(43, 81, 85, 0.562);
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 1;
        opacity: 0;
    }
    .main-container-profile .container-profile .second-layer-profile .edit-profile.active {
        background-color: rgba(43, 81, 85, 0.562);
        height: auto;
        padding: 5px;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 10;
        opacity: 1;
    }
    .second-layer-profile .edit-profile input[type="text"],
    .second-layer-profile .edit-profile input[type="email"],
    .second-layer-profile .edit-profile input[type="password"] {
        position: relative;
        width: 100%;
        padding: 5px;
        margin: 5px auto;
        box-sizing: border-box;
    }
    .second-layer-profile .edit-profile button[type="submit"],
    button {
        width: auto;
        padding: 5px;
        box-sizing: border-box;
    }
    .tCoba {
        width: 100%;
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
    .split-profile {
        display: flex;
        justify-content: space-between;
    }
    .split-profile .content-split {
        position: relative;
        display: inline-block;
        width: 49%;
    }
    
    /* profile history */
    .edit-profile #profile-history-table {
        width: 100%;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
    }
    #profile-history-table th , #profile-history-table td {
        padding: 8px;
        box-sizing: border-box;
        margin: 0;
    }
    /* profile manager */
}