@media screen and (min-width: 1366px) {
    .container-utama {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: rgb(219, 236, 231);
        display: flex;
        flex-flow: wrap;
    }
    .container-utama .penampung {
        position: relative;
        height: 100%;
        color: #ddaa44;
    }
    .container-utama .penampung.left {
        display: block;
        width: 225px;
        left: 0;
    }
    .container-utama .penampung.right {
        width: 100%;
        left: 16.5%;
    }

    /* Dashboard */
    .container-utama .penampung .mysection:nth-child(2) {
        height: calc(100% - 90px);
    }
    /* Foods&Drinks */
    .container-utama .penampung .mysection:nth-child(3) {
        height: calc(100% - 90px);
    }
    /* PromonMore */
    .container-utama .penampung .mysection:nth-child(4) {
        height: calc(100% - 90px);
    }
    .container-utama .penampung .mysection:nth-child(5) {
        height: calc(100% - 90px);
    }
    /* Roller - Play */
    .container-utama .penampung .mysection:nth-child(6) {
        background-color: none;
        height: calc(100% - 90px);
    }
    /* Leaderboard */
    .container-utama .penampung .mysection:nth-child(7) {
        background-color: none;
    }
    /* challenge */
    .container-utama .penampung .mysection:nth-child(8) {
        height: calc(100% - 90px);
    }
    /* Mapbox */
    .container-utama .penampung .mysection:nth-child(9) {
        height: calc(100% - 90px);
    }

    /* header */
    .stat {
        width: 100%;
        height: 90px;
    }
    .btnShow {
        display: none;
    }
    .stat .tempat-nama h5 a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(30%, -20%);
    }
    .tempat-nama {
        top: 50%;
        left: 50%;
        transform: translate(25%, -43%);
    }
    .tempat-nama .image-avatar {
        height: 75px;
        width: 75px;
    }
    .tempat-nama .dropdown-option {
        width: auto;
        height: auto;
        left: -11px;
        top: 85%;
    }

    /* eventx */
    .eventx {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }
    .eventx .sub-eventx {
        height: 100%;
        width: 85%;
        margin: 0;
        padding: 0;
    }
    .eventx .container-event {
        position: relative;
        height: auto;
        width: auto;
        margin: auto;
    }
    .eventx .container-event .pas-foto {
        height: 100%;
        width: 300px;
    }
    .eventx .container-event .pas-foto img {
        width: 300px;
        height: 250px;
    }
    .eventx .container-event .container-nama-harga {
        height: 60px;
        width: 300px;
    }

    /* promo&more */
    .three-col{
        width: 80%;
        column-count: 2;
        margin: auto 20px;
    }

    /* roller-game */
    .event-game .container-event-game {
        display: inline-block;
        width: auto;
        padding: 15px 20px;
        margin: 0;
        outline: none;
    }

    /* roller-play */
    .container-challenge .play-tab.active {
        width: auto;
    }
    .container-challenge .container-challenge-navbar {
        height: auto;
        width: 100%;
        background-color: pink;
    }
    .container-challenge .container-challenge-navbar .challenge-navbar-menu .nav-play{
        height: 100%;
        text-align: center;
    }

    /* challenge */
    .container-challenge {
        width: calc(100% - 225px);
    }
    .container-challenge .container-quest {
        position: relative;
        margin-bottom: 3px;
    }
    .container-quest .container-name-quest.left {
        width: 100%;
    }
    .container-quest .container-name-quest.center {
        width: 100%;
    }
    .container-challenge .container-name-quest.right {
        width: 100%;
    }

    /* mapbox */
    #map {
        width: 75%;
        height: 75%;
        margin: 0;
        left: 4%;
    }

    /* info */
    .container-info .info-dhadhu.right {
        width: 20%;
    }
    .container-info .info-dhadhu.center {
        width: calc(100% - 65%);
    }
    .container-info .info-dhadhu.left {
        width: calc(100% - 70%);
    }

    .container-room {
        display: block;
        width: 100%;
    }
    #btnCreate {
        width: 100%;
        margin: 8px auto;
    }

    /* profile */
    .main-container-profile {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .main-container-profile .container-profile {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .leftArrow {
        top: -220px;
        left: 0px;
    }
    .rightArrow {
        top: -220px;
        right: -1075px;
    }

    /* modal */
    .modal-container  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-container .modal-body {
        position: relative;
        height: 85%;
        width: 50%;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-container .modal-container-value .modal-custome-image {
        position: relative;
        width: 100%;
        height: 100%;
    }
}