@media all and (max-width: 540px) {

    .container-utama .penampung.left {
        display: block;
        width: 200px;
        left: -200px;
    }
    .container-utama .penampung.left.active {
        display: block;
        width: 200px;
        left: 0;
    }
    .container-utama .penampung.right {
        width: 100%;
        left: 0;
    }

    /* Dashboard */
    .container-utama .penampung .mysection:nth-child(2) {
        height: calc(100% - 85px);
        overflow-y: scroll;
    }
    /* Foods&Drinks */
    .container-utama .penampung .mysection:nth-child(3) {
        height: calc(100% - 85px);
        overflow-y: scroll;
    }
    /* PromonMore */
    .container-utama .penampung .mysection:nth-child(4) {
        height: calc(100% - 85px);
        overflow-y: scroll;
    }
    .container-utama .penampung .mysection:nth-child(5) {
        height: calc(100% - 85px);
        overflow-y: scroll;
    }
    /* Roller - Play */
    .container-utama .penampung .mysection:nth-child(6) {
        background-color: none;
        height: calc(100% - 85px);
        overflow-y: scroll;
    }
    /* Leaderboard */
    .container-utama .penampung .mysection:nth-child(7) {
        background-color: none;
        overflow-y: scroll;
    }
    /* challenge */
    .container-utama .penampung .mysection:nth-child(8) {
        overflow-y: scroll;
        height: calc(100% - 85px);
    }
    /* Mapbox */
    .container-utama .penampung .mysection:nth-child(9) {
        height: calc(100% - 85px);
        overflow-y: scroll;
    }

    /* header */
    .stat {
        width: 100%;
        height: 85px;
    }
    .btnShow {
        display: block;
    }
    .stat .tempat-nama h5 a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(30%, -20%);
    }
    .tempat-nama {
        top: 50%;
        left: 50%;
        transform: translate(33%, -47%);
    }
    .tempat-nama .name {
        position: relative;
        left: -15px;
        top: 50px;
        text-align: center;
    }
    .tempat-nama .image-avatar {
        height: 80px;
        width: 80px;
        left: -17px;
    }
    .tempat-nama .dropdown-option {
        width: auto;
        height: auto;
        left: -25px;
        top: 100%;
    }
    @media screen and (max-width: 360px) {
        .tempat-nama {
            top: 50%;
            left: 50%;
            transform: translate(30%, -47%);
        }
    }

    /* eventx */
    .eventx {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }
    .eventx .container-event {
        height: auto;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(15%);
    }
    @media screen and (max-width: 414px) {
        .eventx .container-event {
            display: flex;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(0%);
        }
    }

    @media screen and (max-width: 411px) {
        .eventx .container-event {
            display: flex;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(0%);
        }
    }

    @media screen and (max-width: 360px) {
        .eventx .container-event {
            display: flex;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(0%);
        }
    }
    
    @media screen and (max-width: 320px) {
        .eventx .container-event {
            display: flex;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(0%);
        }
    }
    .eventx .container-event .pas-foto {
        height: 100%;
        width: 400px;
    }
    .eventx .container-event .pas-foto img {
        height: 300px;
        width: 400px;
    }
    .eventx .container-event .container-nama-harga {
        height: 60px;
        width: 400px;
    }
    @media screen and (max-width: 414px) {
        .eventx .container-event .pas-foto {
            height: 100%;
            width: 300px;
        }
        .eventx .container-event .pas-foto img {
            height: 250px;
            width: 300px;
        }
        .eventx .container-event .container-nama-harga {
            height: 60px;
            width: 300px;
        }
    }
    @media screen and (max-width: 411px) {
        .eventx .container-event .pas-foto {
            height: 100%;
            width: 300px;
        }
        .eventx .container-event .pas-foto img {
            height: 250px;
            width: 300px;
        }
        .eventx .container-event .container-nama-harga {
            height: 60px;
            width: 300px;
        }
    }
    @media screen and (max-width: 360px ) {
        .eventx .container-event .pas-foto {
            height: 100%;
            width: 275px;
        }
        .eventx .container-event .pas-foto img {
            height: 225px;
            width: 275px;
        }
        .eventx .container-event .container-nama-harga {
            height: 60px;
            width: 275px;
        }
    }
    @media screen and (max-width: 320px ) {
        .eventx .container-event .pas-foto {
            height: 100%;
            width: 275px;
        }
        .eventx .container-event .pas-foto img {
            height: 200px;
            width: 275px;
        }
        .eventx .container-event .container-nama-harga {
            height: 60px;
            width: 275px;
        }
    }

    .container-challenge .container-challenge-navbar {
        height: auto;
        width: 100%;
        background-color: pink;
    }
    .container-challenge .container-challenge-navbar .challenge-navbar-menu .nav-play{
        height: 100%;
        width: 100%;
        text-align: center;
    }

    /* promo&more */
    .three-col{
        width: 100%;
        column-count: 1;
    }
    .three-col .pas-foto {
        position: relative;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
    .three-col .name-space {
        position: relative;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    /* roller-game */
    .event-game .container-event-game {
        padding: 5px;
        top: 50%;
        left: 50%;
        transform: translate(15%);
    }
    .event-game .container-event-game .pas-foto {
        width: 400px;
        height: 300px;
    }
    .event-game .container-event-game .pas-foto img {
        width: 400px;
        height: 300px;
    }
    .event-game .container-event-game .container-nama-harga {
        width: 400px;
        height: 80px;
        top: -80px;
    }
    .container-challenge .play-tab.active {
        width: 120%;
    }
    @media screen and (max-width: 360px) {
        .event-game .container-event-game {
            padding: 5px;
            top: 50%;
            left: 50%;
            transform: translate(10%);
        }
        .event-game .container-event-game .pas-foto {
            width: 275px;
            height: 225px;
        }
        .event-game .container-event-game .pas-foto img {
            width: 275px;
            height: 225px;
        }
        .event-game .container-event-game .container-nama-harga {
            width: 275px;
            height: 60px;
            top: -60px;
        }
    }
    @media screen and (max-width: 320px) {
        .event-game .container-event-game {
            display: flex;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(0%);
        }
        .event-game .container-event-game .pas-foto {
            width: 275px;
            height: 225px;
        }
        .event-game .container-event-game .pas-foto img {
            width: 275px;
            height: 225px;
        }
        .event-game .container-event-game .container-nama-harga {
            width: 275px;
            height: 60px;
            top: -60px;
        }
    }

    /* challenge */
    .container-challenge .container-quest {
        position: relative;
        margin-bottom: 3px;
    }
    .container-quest .container-name-quest.left {
        width: 100%;
    }
    .container-quest .container-name-quest.center {
        width: 100%;
    }
    .container-challenge .container-name-quest.right {
        width: 100%;
    }

    /* leadderboard */
    .container-leaderboard {
        width: 100%;
        height: calc(100% - 80px);
        overflow-y: scroll;
        color: #ddaa44;
        padding: 2px;
    }
    table {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    table tr:nth-child(even){
        background-color: #f2f2f2;
    }
    table th {
        background-color: rgb(108, 108, 160);
    }
    td, th  {
        border: 1px solid #77349e;
        background-color: whitesmoke;
        padding: 0px;
        text-align: center;
    }

    /* mapbox */
    #map {
        width: 100%;
        height: 50%;
    }

    /* info */
    .container-info .info-dhadhu.right {
        width: 100%;
    }
    .container-info .info-dhadhu.center {
        width: 100%;
    }
    .container-info .info-dhadhu.left {
        width: 100%;
    }

    .container-room {
        display: block;
        width: 100%;
    }
    #btnCreate {
        width: 100%;
        margin: 8px auto;
    }

    /* profile */
    .main-container-profile {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .main-container-profile .container-profile {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .leftArrow {
        left: 0px;
        top: -250px;
    }
    .rightArrow {
        right: -94.5%;
        top: -250px;
    }
    @media screen and (max-width: 360px) {
        .leftArrow {
            left: 0px;
            top: -200px;
        }
        .rightArrow {
            right: -92%;
            top: -200px;
        }
    }

    /* modal */
    .modal-container  {
        position: absolute;
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-container .modal-body {
        position: relative;
        height: 70%;
        width: 85%;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-container .modal-container-value {
        height: 70%;
    }
    .modal-container .modal-container-value .modal-custome-image {
        position: relative;
        width: 100%;
        height: 100%;
    }
}


