.container-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;

    display: none;
    z-index: 99;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-filter::before {
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0.5;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.container-filter .filter-body {
    background-color: rgb(56, 30, 80);
    position: absolute;
    height: auto;
    width: 35%;
    padding: 5px;
    box-sizing: border-box;

    z-index: 99;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    color: white;
}
.container-filter .filter-body .inside-filter-body {
    background-color: rgb(138, 7, 190);
    position: relative;
    height: auto;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.container-filter .filter-body .filter-search .filterLeaderboard {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.container-filter .filter-body .filter-date {
    height: auto;
    width: 100%;
    color: white;
    padding: 0;
    margin: 0;
}
.container-filter .filter-body .filter-date .div-date-option {
    position: relative;
    display: inline-block;
    background-color: red;
    height: auto;
    width: 32%;
    padding: 10px;
    margin-left: 2px;
    margin-bottom: 3px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: justify;
}
.container-filter .filter-body .filter-category {
    height: auto;
    width: 100%;
    color: white;
    padding: 0;
    margin: 0;
}
.container-filter .filter-body .filter-category .div-category-option {
    position: relative;
    display: inline-block;
    background-color: red;
    height: auto;
    width: 32%;
    padding: 10px;
    margin-left: 2px;
    margin-bottom: 3px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: justify;
}
