/* Header Style Option */
.stat {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: rgb(225, 235, 219);
    box-shadow: 0px 1px 4px grey;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}
.tempat-nama {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ddaa44;
    text-decoration: none;
    display: inline-block;

    top: 50%;
    left: 50%;
    transform: translate(43%, -48.5%);
    margin: 0;
    padding: 0;
    z-index: 10;
}
.tempat-nama .name {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;
    transform: translate(-120%, -50%);
    z-index: 99;
    padding: 5px;
    box-sizing: border-box;
}
.tempat-nama .image-avatar {
    position: absolute;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    cursor: pointer;
}
.tempat-nama .image-avatar:hover {
    border: 1px solid black;
}
.tempat-nama .dropdown-option {
    position: absolute;
    display: none;
    width: 8%;
    height: 100%;
    background-color: rgb(200, 175, 116);
    left: -13px;
    top: 110%;
    border-radius: 5px;
    padding: 10px 18px;
    z-index: 10;
}
.tempat-nama .dropdown-option a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.tempat-nama .dropdown-option.show {
    display: block;
}
.tempat-nama .dropdown-option a:hover {
    color: gray;
}
.btnShow {
    position: absolute;
    top: 350px;
    right: -28px;
    width: 28px;
    height: 110px;
    background-color: blue;
    cursor: pointer;
    display: none;
    padding: 10px 5px;
    box-sizing: border-box;
    font-weight: bold;
    writing-mode: vertical-rl;
}
@media screen and (max-width: 540px) {
    .btnShow {
        display: block;
    }
}

/* Menu Style Option */
.eventx {
    position: relative;
    height: auto;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 0px 0px 5px;
    overflow: hidden;
}
.eventx .sub-eventx {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.eventx .container-event {
    display: inline-block;
    width: auto;
    padding: 15px 20px;
    margin: 0;
    outline: none;
}
.eventx .container-event .pas-foto {
    position: relative;
    height: 100%;
    width: 325px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}
.eventx .container-event .pas-foto img {
    border-radius: 10px;
    width: 325px;
    height: 250px;
    padding: 3px;
}
.eventx .container-event .container-nama-harga {
    position: relative;
    height: 60px;
    width: 325px;
    top: -60px;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0,.3);
    color: rgb(223, 226, 211);
}
.eventx .container-event .container-nama-harga h5, p {
    margin: auto;
    padding: 2px;
    text-align: center;
    font-size: 15px;
}
.eventx .container-event .container-not-found h5 {
    padding: 0;
}

/* Promo & More */
/* colom promo&more */
.three-col{
    width: 100%;
    column-count: 3;
    column-gap: 10px;
    padding: 5px;
    box-sizing: border-box;
}
.three-col .pas-foto {
    background-color: blueviolet;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 10px grey;
}
.three-col .name-space {
    position: relative;
    margin: 0;
    padding: 0;
    height: 60px;
    top: -60px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0,.3);  
    border-radius: 0px 0px 10px 10px;
    /* z-index: 1; */
}
.three-col .name-space h5 {
    text-align: center;
    display: block;
}
/* search bar */
.search-bar {
    padding: 10px;
    height: auto;
    float: left;
}
.search-bar, input {
    width: auto;
    height: auto;
    margin: auto;
    outline: none;
}
/* Roller Game */
.event-game {
    position: relative;
    height: auto;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 0px 0px 5px;
    overflow: hidden;
}
.event-game .container-event-game {
    display: inline-block;
    width: auto;
    padding: 15px 20px;
    margin: 0;
    outline: none;
}
.event-game .container-event-game .pas-foto {
    position: relative;
    height: 100%;
    width: 325px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}
.event-game .container-event-game .pas-foto img {
    border-radius: 10px;
    width: 325px;
    height: 250px;
    padding: 3px;
}
.event-game .container-event-game .container-nama-harga {
    position: relative;
    height: 60px;
    width: 325px;
    top: -60px;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0,.3);
    color: rgb(223, 226, 211);
}
.event-game .container-event-game .container-nama-harga h5, p {
    margin: auto;
    padding: 2px;
    text-align: center;
    font-size: 15px;
}

/* Challenge */
.container-challenge {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    padding: 1px;
    box-sizing: border-box;
}
.container-challenge h1 {
    padding: 10px;
    color: #ddaa44;
}
.container-challenge h5 {
    padding: 10px;
    color: #ddaa44;
}
.container-challenge h2 {
    padding: 10px;
    color: #ddaa44;
}
/* container challenge navbar */
.container-challenge .container-challenge-navbar {
    height: auto;
    width: auto;
    background-color: rgb(163, 217, 219);
}
.container-challenge .container-challenge-navbar .challenge-navbar-menu .nav-play {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    margin: 1px;
    padding: 10px;
    box-sizing: border-box;
    color: #ddaa44;
    font-weight: bold;
}
.container-challenge .container-challenge-navbar .challenge-navbar-menu  .turnOn, .nav-play:hover {
    color: grey;
}
/* for menu roller - play */
.play-tab h2 {
    padding: 10px;
}
.container-challenge .play-tab {
    height: auto;
    width: 100%;

    display: none;
    transition: all .5s;
    opacity: 0;
    z-index: 1;
}
.container-challenge .play-tab.active {
    width: auto;
    margin-bottom: 10px;
    overflow: hidden;
    opacity: 1;
    z-index: 10;
    overflow-x: scroll;
}
.grandient-first {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 2;
}
.grandient-second {
    background: #e9bc67;
    z-index: 2;
}
.container-challenge .container-quest {
    position: relative;
    display: flex;
    flex-flow: wrap;
    height: auto;
    margin-bottom: 1px;
}
.container-quest .container-name-quest.left {
    width: 15%;
}
.container-quest .container-name-quest p {
    margin: 0;
    padding: 5px;
    text-align: justify;
}
.container-quest .container-name-quest.center {
    width: calc(80% - 15%);
}
.container-quest .container-name-quest.right {
    width: calc(35% - 15%);
}
.container-name-quest {
    width: 100%;
}
#play-table {
    border-collapse: collapse;
    width: 100%;
}
#play-table th {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}
#play-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}
#play-table th tr:nth-child(even) {
    background-color: #f2f2f2;
}
#play-table th {
    background-color: #ddaa44;
    color: white;
    padding: 5px;
    box-sizing: border-box;
}
#play-table td button {
    background-color: rgb(200, 175, 116);   
    border: none;
    border-radius: 5px;
    outline: none;
}
#play-table td button:hover {
    background-color: rgb(163, 217, 219);
}
#play-table tr:hover {
    background-color: #ddd;
}
/* room control */
.room-control {
    width: 100%;
    float: left;
}
.room-control.right {
    width: 100%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.room-section-edit {
    padding: 3px;
    box-sizing: border-box;
}
.split-room-section {
    display: flex;
    justify-content: space-between;
}
.split-room-section .content-split-room {
    position: relative;
    display: inline-block;
    width: 49%;
}
.room-section-edit .title-room-control p {
    margin: 0;
    padding: 5px;
    background-color: #ddaa44;
}
.room-section-edit .play-option {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px auto;
}
.room-section-edit .play-option button,
.room-section-edit .play-option form {
    position: relative;
    width: auto;
    height: 25%;

    background-color: rgb(200, 175, 116);   
    border: none;
    border-radius: 5px;
    outline: none;
}
.room-section-edit .play-option button:hover {
    background-color: rgb(163, 217, 219);
}
.room-section-edit input[type="text"],
.room-section-edit input[type="number"],
.room-section-edit input[type="date"] {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
/* style table room control */
#table-room-control {
    border-collapse: collapse;
    width: 100%;
}
#table-room-control th tr:nth-child(even) {
    background-color: #f2f2f2;
}
#table-room-control th {
    background-color: #ddaa44;
    color: white;
    padding: 5px;
    box-sizing: border-box;
}
#table-room-control tr:hover {
    background-color: #ddd;
}
#table-room-control th,
#table-room-control td {
    text-align: left;
    border: 1px solid #ddd;
}


/* Scroll Challenge */
.container-challenge::-webkit-scrollbar {
    width: 0;
}
.container-challenge:-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #333;
}
.container-challenge:-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: white;
}
.reded {
    background-color: red;
}


/* Leaderboard */
.searchLead{
    padding: 5px;
    box-sizing: border-box;
}
.container-leaderboard {
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: scroll;
    color: #ddaa44;
    padding: 1px;
}
.container-leaderboard .play-leaderboard .main-container-leaderboard  {
    width: 100%;
    height: auto;
    background-color: rgb(217, 221, 221);
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    color: #ddaa44;
    background-color: rgb(108, 108, 160);
}
.container-leaderboard .play-leaderboard.active {
    opacity: 1;
    z-index: 1;
}
.container-leaderboard .play-leaderboard {
    opacity: 0;
    z-index: 10;
}
.container-leaderboard .container-challenge-navbar {
    height: auto;
    width: 100%;
    background-color: rgb(217, 221, 221);
    text-align: center;
    font-weight: bold;
}
.container-leaderboard .container-challenge-navbar .challenge-navbar-menu h3 {
    font-size: 20px;
    color: #ddaa44;
}
.container-leaderboard .container-challenge-navbar .challenge-navbar-menu .nav-play-lead {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    margin: 1px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.container-leaderboard .container-challenge-navbar .challenge-navbar-menu .nav-play-lead:hover, .hidup {
    color: gray;
}
table {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table th {
    background-color: rgb(108, 108, 160);
}
td, th  {
    border: 1px solid #77349e;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}
.container-leaderboard::-webkit-scrollbar {
    width: 0;
}
.container-leaderboard:-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #333;
}
.container-leaderboard:-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: white;
}
#search-leaderboard {
    right: 0;
}

/* info */
#map {
    position: relative;
    width: 95%;
    height: 95%;
    border: 1px solid #000;
    margin: auto;
}
.container-info {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
}
.container-info .info-dhadhu {
    width: 295px;
    height: auto;
    padding: 10px;
    float: left;
}
.container-info .info-dhadhu h4 {
    color: black;
}
.container-info .info-dhadhu.right {
    width: 20%;
}
.container-info .info-dhadhu.center {
    width: calc(100% - 40%);
}
.container-info .info-dhadhu.left {
    width: calc(100% - 80%);
}
.info-dhadhu h4 {
    font-size: 17px;
}
#profile-table {
    width: 100%;
    border-collapse: collapse;
}
#profile-table tr, 
#profile-table td {
    padding: 3px;
    margin: 0;
    border: none;
    color : black
}

/* Crete Room */
.container-room {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    margin: auto;
}
.container-room .play-room input[type="text"], 
.container-room .play-room input[type="number"], 
.container-room .play-room input[type="date"] {
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}
#btnCreate {
    outline: none;
    margin: 10px;
}

.rightArrow {
    position: relative;
    top: -220px;
    right: -96%;
    width: 20px;
    height: 50px;
}
.leftArrow {
    position: relative;
    top: -220px;
    left: -3px;
    width: 20px;
    height: 50px;
}

/* Profile Manager */
.main-container-profile {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: red;
    overflow: auto;
}
.main-container-profile .container-profile {
    position: relative;
    height: 100%;
    width: 70%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-container-profile .container-profile .header-container-profile {
    width: 100%;
    height: auto;
    background-color: rgb(43, 34, 34);
    color: white;
    padding: 5px;
    box-sizing: border-box;
}
.main-container-profile .container-profile .header-container-profile p {
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
}
.main-container-profile .container-profile .first-layer-profile {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba(43, 81, 85, 0.562);
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.main-container-profile .container-profile .first-layer-profile .image-profile {
    width: 30%;
    height: 30%;
    float: left;
    background-color: gray;
    border-radius: 5%;
}
.main-container-profile .container-profile .first-layer-profile .image-profile .image-profile-custome {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.main-container-profile .container-profile .first-layer-profile .nickname-profile {
    width: 100%;
    height: 100%;
}
.main-container-profile .container-profile .first-layer-profile .nickname-profile p {
    position: relative;
    display: block;
    text-align: left;
    height: auto;
    padding: 10px 5px;
    box-sizing: border-box;
    color: white;
}

.main-container-profile .container-profile .second-layer-profile {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.main-container-profile .container-profile .second-layer-profile .title-profile  {
    text-align: left;
    font-size: 20px;
    color: white;
    background-color: rgb(43, 34, 34);
    width: 100%;
}
.main-container-profile .container-profile .second-layer-profile .edit-profile {
    background-color: rgba(43, 81, 85, 0.562);
    height: auto;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    z-index: 1;
    color: white;
}
.second-layer-profile .edit-profile input[type="text"],
.second-layer-profile .edit-profile input[type="email"],
.second-layer-profile .edit-profile input[type="password"] {
    position: relative;
    width: 100%;
    padding: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}
.second-layer-profile .edit-profile button[type="submit"],
button {
    width: auto;
    padding: 5px;
    box-sizing: border-box;
}
.second-layer-profile .edit-profile .tCoba {
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.img-thumbnail {
    position: relative;
    width: 25%;
    height: 25%;
    background-color: honeydew;
    margin-bottom: 5px;
    padding: 0;
}
.medium {
    width: 17.5%;
    height: 17.5%;
}
.small {
    width: 13%;
    height: 13%;
}
.split-profile {
    display: flex;
    justify-content: space-between;
}
.split-profile .content-split {
    position: relative;
    display: inline-block;
    width: 49%;
}

.third-layer-profile {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.third-layer-profile .recent-play {
    display: inline-block;
    background-color: rgba(43, 81, 85, 0.562);
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: white;
}
.third-layer-profile .recent-play.recent-nickname,
.third-layer-profile .recent-play.recent-room-name,
.third-layer-profile .recent-play.recent-game-name,
.third-layer-profile .recent-play.recent-date {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: left;
}

.fourth-layer-profile {
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(43, 81, 85, 0.562);
    padding: 5px;
    margin-bottom: 10px;
}
.fourth-layer-profile .history {
    width: 100%;
    height: auto;
    
}
/* profile manager */

/* button */
button {
    background-color: rgb(200, 175, 116);   
    border: none;
    border-radius: 5px;
    outline: none;
}


/* email-disable */
.email-disable {
    pointer-events: none;
}

/* filter button */
.filter-promo-style {
    display: flex;
    justify-content: space-between;
}
.span-filter {
    width: 100%;
    height: 100%;
    background-color: gray;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
}