html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

.container-utama {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(219, 236, 231);
    display: flex;
    flex-flow: wrap;
}
.container-utama .penampung {
    position: relative;
    height: 100%;
    color: #ddaa44;
}
/* Start Side Left */
.container-utama .penampung.left {
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: rgb(225, 235, 219);
    /* background-color: rgb(36, 40, 53); */
    z-index: 2;
    box-shadow: 0px 1px 2px grey;
    display: block;

    transition: all .10s;
}
.container-utama .penampung.left.active {
    display: none;
}
.container-utama .penampung.left h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-5px, 50px);
    color: #ddaa44;
}
.container-utama .penampung.left img {
    position: relative;
    width: 100%;
    height: 15%;
    top: 5%;
}
.container-utama .penampung .menu {
    cursor: pointer;
    font-weight: bolder;
    margin: 0;
    padding: 5px 15px;
}

.container-utama .penampung .menu:hover {
    color: grey;
}

.container-utama .penampung .first-ul {
    position: relative;
    list-style: none;
    margin: 80px 0 0 0;
    padding: 0;
    color: #ddaa44;
    font-weight: bolder;
}

.container-utama .penampung .first-ul li {
    position: relative;
    margin: 0;
    padding: 1px;
    width: 100%;
    display: block;
    text-align: left;
    box-sizing: border-box;
}
.container-utama .penampung .first-ul li .nav-link {
    color: #ddaa44;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}
.container-utama .penampung .first-ul li .nyala, .nav-link:hover {
    color: grey;
}
/* Dropdown Menu */
.dropdown-content {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
}
.dropdown-content li {
    background-color: #ccc;
}
.show {
    display: block;
}

/* Start Side RIght */
.container-utama .penampung.right {
    position: relative;
    left: 15%;
    width: calc(100% - 15%);
    height: 100%;
    background-color: whitesmoke;
    z-index: 1;
    float: right;
}
.container-utama .penampung.right.active {
    width: 100%;
}

.container-utama .penampung .mysection {
    position: absolute;
    width: 100%;
    height: 100%;

    transform: translateX(100px);
    transition: all .5s;
    opacity: 0;
    z-index: 1;
}
.container-utama .penampung .mysection.active {
    transform: translateX(0);
    box-sizing: border-box;
    opacity: 1;
    z-index: 5;
    height: 100%;

    /* Scrollbar mozila*/
    /* scrollbar-color: #000 #333;
    scrollbar-width: thin; */
}
/* Scrollbar */
.container-utama .penampung .mysection::-webkit-scrollbar {
    width: 5px;
}
.container-utama .penampung .mysection::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: white;
}
.container-utama .penampung .mysection::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #ddaa44;
}

/* Dashboard */
.container-utama .penampung .mysection:nth-child(2) {
    height: calc(100% - 70px);
    overflow-y: scroll;
}
/* Foods&Drinks */
.container-utama .penampung .mysection:nth-child(3) {
    height: calc(100% - 70px);
    overflow-y: scroll;
}
/* PromonMore */
.container-utama .penampung .mysection:nth-child(4) {
    height: calc(100% - 70px);
    overflow-y: scroll;
}
.container-utama .penampung .mysection:nth-child(5) {
    height: calc(100% - 70px);
    overflow-y: scroll;
}
/* Roller - Play */
.container-utama .penampung .mysection:nth-child(6) {
    background-color: none;
    height: calc(100% - 70px);
    overflow-y: scroll;
}
/* Leaderboard */
.container-utama .penampung .mysection:nth-child(7) {
    background-color: none;
    overflow-y: scroll;
}
/* challenge */
.container-utama .penampung .mysection:nth-child(8) {
    overflow-y: scroll;
    height: calc(100% - 70px);
}
/* Mapbox */
.container-utama .penampung .mysection:nth-child(9) {
    height: calc(100% - 70px);
    overflow-y: scroll;
}