.w-5 {
    /* background-color: red; */
    width: 5%;
    height: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-12%, 20%);
    color: #ddaa44;
    font-size: 20px;
}

.flex {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 200px auto;
    text-align: center;
}

.try-centered {
    display: block;
    width: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(50%);
}
.try-centered .number-center-upper {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #ddaa44;
}