.modal-container  {
    position: absolute;
    height: 100%;
    width: 100%; 
    margin: 0;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;

    z-index: 99;
    display: none;
}
.modal-container::before {
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.modal-container .modal-body {
    position: relative;
    height: 95%;
    width: 50%;
    background-color: rgb(252, 250, 248);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 3px;

    border: 1px solid black;
    border-radius: 5px;

    overflow-y: scroll;
}
/* Scroll */
.modal-container .modal-body::-webkit-scrollbar {
    width: 0px;
}
.modal-container .modal-body::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: white;
}
.modal-container .modal-body::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #ddaa44;
}
/* Scroll */
.modal-container .modal-body .modal-container-name {
    width: auto;
    height: auto;
    background-color: rgb(105, 162, 145);
    padding: 0 10px;
    box-sizing: border-box;
}
.modal-container .modal-container-name p {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.modal-container .modal-container-value {
    position: relative;
    width: 100%;
    height: 80%;
    margin: 5px auto;
}
.modal-container .modal-container-value .modal-custome-image {
    position: relative;
    width: 100%;
    height: 100%;
}
.modal-container .modal-container-details {
    width: auto;
    height: auto;
    background-color: rgb(200, 175, 116);
    padding: 0 3px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 13px; 
}
.modal-container .modal-container-details h5 {
    text-align: left;
    font-size: 18px;
    padding: 1px;
    box-sizing: border-box;
    color: black;
}
.modal-body .modal-container-details .modal-spec {
    text-align: left;
    padding: 0;
    margin: 0;
}
.modal-body .modal-container-details .modal-spec-descrip {
    text-align: justify;
    padding: 0;
    margin: 0;
}
.modal-container .modal-container-details .modal-container-price-box p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.modal-container .modal-container-info p {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: rgb(71, 68, 67);
}
