body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-register {
    background-color: burlywood;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
}

.container-register .title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 5px;
    font-weight: 700;
}

.form_warp {
    margin-top: 35px;
}

.form_warp .input_wrap {
    margin-bottom: 15px;
}

.form_warp .input_wrap:last-child {
    margin-bottom: 0;
}

.form_warp .input_wrap label {
    display: block;
    margin-bottom: 3px;
    color: black;
}

.form_warp .input_grp {
    display: flex;
    justify-content: space-between;
}

.form_warp .input_grp input[type="text"]{
    width: 165px;
}

.form_warp input[type="text"], 
.form_warp input[type="password"], 
.form_warp input[type="email"] {
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
    padding: 8px 10px;
    border-radius: 3px;
    display: flex;
}

ul li:first-child {
    margin-right: 15px;
}

ul .radio_wrap {
    position: relative;
    margin-bottom: 0;
}

ul .radio_wrap span {
    display: inline-block;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 3px;
    color: black;
}

.form_warp .submit_btn {
    width: 100%;
    background-color: rgb(45, 102, 224);
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
    color: white;
}

.form_warp .submit_btn:hover {
    background-color: #6398d4;
}




