html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    overflow: hidden;
}

.container-utama {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(137, 165, 156);
    display: flex;
    flex-flow: wrap;
}

.container-utama .penampung {
    position: relative;
    height: 100%;
}

.container-utama .penampung.left {
    width: 250px;
    background-color: azure;
    z-index: 2;
}
.container-utama .penampung.left h2 {
    font-size: 25px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-5px, 50px);
}

.container-utama .penampung .menu {
    cursor: pointer;
}
.container-utama .penampung .menu:hover {
    color: grey;
}

.container-utama .penampung ul {
    list-style: none;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-23%, 35%);
}

.container-utama .penampung ul li {
    margin: 0;
    padding: 8px 5px;
    top: 50%;
    left: 50%;
    transform: translate(15%, 10px);
}
.container-utama .penampung ul li a {
    color: black;
    text-decoration: none;
}
.container-utama .penampung ul li a:hover {
    color: grey;
}
/* Dropdown Menu */
.dropdown-content {
    display: none;
    margin-top: -20px;
    margin-bottom: 20px;
}
.show {
    display: block;
}

.container-utama .penampung.right {
    width: calc(100% - 250px);
    background-color: white;
    z-index: 1;
}

.container-utama .penampung .mysection {
    position: absolute;
    width: 100%;
    height: 100%;

    transform: translateX(100px);
    transition: all .5s;
    opacity: 0;
    z-index: 1;
}
.container-utama .penampung .mysection.active {
    padding: 10px;
    transform: translateX(0);
    box-sizing: border-box;
    opacity: 1;
    z-index: 10;
}
.container-utama .penampung .mysection:nth-child(1) {
    background-color: red;
}
.container-utama .penampung .mysection:nth-child(2) {
    background-color: green;
}
.container-utama .penampung .mysection:nth-child(3) {
    background-color: blue;
}
.container-utama .penampung .mysection:nth-child(4) {
    background-color: yellow;
}
.container-utama .penampung .mysection:nth-child(5) {
    background-color: magenta;
}
.container-utama .penampung .mysection:nth-child(6) {
    background-color: silver;
}
